<div class="employee" data-employee-id="{{this.id}}">
    <img class="avatar"
         src="{{this.avatar}}"
         alt="avatar">
    <div class="name">
        {{this.name}}
    </div>
    <div class="position">
        {{this.position}}
    </div>
    <div class="city">
        {{this.city}}
    </div>
</div>